USE [master]
GO
/****** Object:  Database [DBCosmetic]    Script Date: 11/9/2021 9:26:21 PM ******/
CREATE DATABASE [DBCosmetic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBCosmetic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBCosmetic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBCosmetic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBCosmetic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBCosmetic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBCosmetic]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order Details]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [date] NULL,
	[UserID] [int] NULL,
	[StatusID] [int] NULL,
	[TotalMoney] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[CategoryID] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[Price] [float] NULL,
	[Amount] [int] NULL,
	[SellID] [int] NULL,
	[Images] [nvarchar](200) NULL,
	[Description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/9/2021 9:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Name] [varchar](100) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Admin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (100, N'Chăm sóc da mặt')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (110, N'Trang điểm')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (120, N'Chăm sóc cơ thể')
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactID], [Name], [Email], [Subject], [Message]) VALUES (1, N'Tue Nhi', N'thuyduong03112001@gmail.com', N'a', N'aaaaaaa')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Order Details] ON 

INSERT [dbo].[Order Details] ([Id], [OrderID], [ProductID], [ProductName], [Price], [Quantity]) VALUES (1, 1, 7, N'Nước Cân Bằng La Roche-Posay Soothing Lotion Sensitive Skin - 200ml', 399000, 1)
INSERT [dbo].[Order Details] ([Id], [OrderID], [ProductID], [ProductName], [Price], [Quantity]) VALUES (2, 2, 8, N'Sữa Rửa Mặt Tạo Bọt Laneige Multi Deep Clean Cleanser 50ml', 465000, 1)
INSERT [dbo].[Order Details] ([Id], [OrderID], [ProductID], [ProductName], [Price], [Quantity]) VALUES (3, 2, 22, N'Bộ cọ trang điểm 13 cây MAANGE chuyên nghiệp màu xanh lá cây', 499000, 1)
SET IDENTITY_INSERT [dbo].[Order Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [CreateDate], [UserID], [StatusID], [TotalMoney]) VALUES (1, CAST(N'2021-11-03' AS Date), 2, 1, 399000.0000)
INSERT [dbo].[Orders] ([ID], [CreateDate], [UserID], [StatusID], [TotalMoney]) VALUES (2, CAST(N'2021-11-03' AS Date), 2, 1, 964000.0000)
INSERT [dbo].[Orders] ([ID], [CreateDate], [UserID], [StatusID], [TotalMoney]) VALUES (3, CAST(N'2021-11-03' AS Date), 2, 1, 707000.0000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (1, N'Chờ Xác Nhận')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (2, N'Chờ Lấy Hàng')
INSERT [dbo].[OrderStatus] ([Id], [Name]) VALUES (3, N'Đang Giao')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
INSERT [dbo].[Products] ([ProductID], [CategoryID], [ProductName], [Price], [Amount], [SellID], [Images], [Description]) VALUES (2, 100, N'Mặt Nạ Innisfree Green Barley Gom Mask 120ml', 170000, 70, 1, N'images/innisfree.jpg', N'Mặt Nạ Tẩy Tế Bào Da Chết Từ Lúa Mạch Xanh Innisfree Green Barley Gommage Mask 120ml có thành phần lúa mạch và Salicylic Acid tạo ra tác động kép trên da, loại bỏ lớp tế bào chết trên bề mặt da, vừa làm sạch sâu.
Chứa AHA (Acid Glycolic) + BHA (Salicylic) giúp da mịn màng hơn.
Không gây khô da, giúp da mịn màng hơn.
Phù hợp với mọi làn da.')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([AccountID], [FullName], [Phone], [Address], [Name], [Password], [Admin]) VALUES (1, N'Admin', N'0347973129', N'Ha Noi', N'Admin', N'123456', 1)
INSERT [dbo].[User] ([AccountID], [FullName], [Phone], [Address], [Name], [Password], [Admin]) VALUES (2, N'Thuy Duong', N'0976049480', N'Ngõ 32, Phường Mễ Trì Hạ, Quận Nam Từ Liêm, Hà Nội', N'Thuy Duong', N'123', 0)
INSERT [dbo].[User] ([AccountID], [FullName], [Phone], [Address], [Name], [Password], [Admin]) VALUES (3, N'Vu Tue Nhi', N'0973212893', N'25 Xuan Thuy, Cau Giay, Ha Noi', N'Tue Nhi', N'123456', 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Order Details]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[OrderStatus] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
USE [master]
GO
